* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html,
body,
#app {
    height: 100%;
}

body {
    font: normal normal normal 14px/1.5 "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", Helvetica, sans-serif;
}

img, video, audio, iframe {
    vertical-align: middle;
}

input, textarea {
    -webkit-appearance: none;
}
