/**
 * @author: 孟祥涵
 * @email: 1056811341@qq.com
 * @date: 2020-11-10
 * @description: util
 */
// Align
@each $value in (left center right) {
    .align-#{$value} {
        text-align: $value !important;
    }
}

// Color
@each $class, $value in (primary, $color-primary),
        (green, $color-green),
        (red, $color-red),
        (heading, $text-heading-color),
        (secondary, $text-secondary-color),
        (placeholder, $text-placeholder-color) {
    .text-#{$class} {
        color: $value !important;
    }
}

// Font Size
@each $value in (12, 14, 16, 24, 18, 20) {
    .fs-#{$value} {
        font-size: #{$value}px !important;
    }
}

// Font Weight
@each $value in (400, 500, 600) {
    .fw-#{$value} {
        font-weight: #{$value} !important;
    }
}

// Spacing
@each $class, $property in (mt, margin-top),
        (mb, margin-bottom),
        (ml, margin-left),
        (mr, margin-right),
        (mx, margin-left margin-right),
        (my, margin-top margin-bottom),
        (ma, margin),
        (pt, padding-top),
        (pb, padding-bottom),
        (pl, padding-left),
        (pr, padding-right),
        (px, padding-left padding-right),
        (py, padding-top padding-bottom),
        (pa, padding) {
    .#{$class}-0 {
        @each $prop in $property {
            #{$prop}: 0 !important;
        }
    }

    @each $multi in (2 3 5) {
        @each $value in (1 2 3 4 5 6 7 8) {
            .#{$class}-#{$multi}-#{$value} {
                @each $prop in $property {
                    #{$prop}: $multi * $value + px !important;
                }
            }
        }
    }
}
