/**
 * @Author: 孟祥涵
 * @Date: 2020-11-10
 * @Description: util
 */
// Align
@each $value in (left center right) {
    .align-#{$value} {
        text-align: $value !important;
    }
}

// Color
@each $class, $value in (primary, $text-color-primary),
        (blue, $text-color-blue),
        (red, $text-color-red) {
    .text-#{$class} {
        color: $value !important;
    }
}

// FontSize
@each $value in (12, 14, 16, 24, 18, 20) {
    .fs-#{$value} {
        font-size: #{$value}px !important;
    }
}

// Spacing
$spacing: $spacing-base;
@each $class, $property, $value in (mt, margin-top, $spacing),
        (mb, margin-bottom, $spacing),
        (ml, margin-left, $spacing),
        (mr, margin-right, $spacing),
        (mx, margin-left margin-right, $spacing),
        (my, margin-top margin-bottom, $spacing),
        (ma, margin-left margin-right margin-top margin-bottom, $spacing),
        (pt, padding-top, $spacing),
        (pb, padding-bottom, $spacing),
        (pl, padding-left, $spacing),
        (pr, padding-right, $spacing),
        (px, padding-left padding-right, $spacing),
        (py, padding-top padding-bottom, $spacing),
        (pa, padding-left padding-right padding-top padding-bottom, $spacing) {
    @each $size in (0 1 2 3 4 5) {
        .#{$class}-#{$size} {
            @each $prop in $property {
                #{$prop}: $value * $size !important;
            }
        }
    }
}
