// Align
@each $value in (left center right) {
    .align-#{$value} {
        text-align: $value !important;
    }
}

// Color
@each $class, $value in (primary, $color-primary),
        (green, $color-green),
        (red, $color-red),
        (heading, $text-color-heading),
        (secondary, $text-color-secondary),
        (placeholder, $text-color-placeholder) {
    .text-#{$class} {
        color: $value !important;
    }
}

// Font Size
@each $value in (12, 14, 16, 24, 18, 20) {
    .fs-#{$value} {
        font-size: #{$value}px !important;
    }
}

// Font Weight
@each $value in (400, 500, 600) {
    .fw-#{$value} {
        font-weight: #{$value} !important;
    }
}

// Spacing
@each $class, $property in (mt, margin-top),
        (mb, margin-bottom),
        (ml, margin-left),
        (mr, margin-right),
        (mx, margin-left margin-right),
        (my, margin-top margin-bottom),
        (ma, margin),
        (pt, padding-top),
        (pb, padding-bottom),
        (pl, padding-left),
        (pr, padding-right),
        (px, padding-left padding-right),
        (py, padding-top padding-bottom),
        (pa, padding) {
    .#{$class}-0 {
        @each $prop in $property {
            #{$prop}: 0 !important;
        }
    }
    @each $value in (4, 5, 8) {
        @each $multi in (1 2 3 4 5) {
            .#{$class}-#{$value}-#{$multi} {
                @each $prop in $property {
                    #{$prop}: $value * $multi + px !important;
                }
            }
        }
    }
}
