// Button
.van-button {
    &--primary {
        &-gradient {
            &:not(.van-button--plain) {
                border: 0;
                background-image: $button-primary-bg-gradient-color;
                color: #fff;
            }

            &.van-button--plain {
                border: currentColor solid 1px;
                color: $color-primary;
            }
        }
    }

    &--vip {
        $text-color: #b27d3e;

        &:not(.van-button--plain) {
            border: 0;
            background: linear-gradient(125deg, #ffecb9 0%, #f5bb83 100%);
            color: $text-color;
            box-shadow: 0px 11px 9px -6px rgba(250, 159, 0, 0.19);
        }

        &.van-button--plain {
            border: currentColor solid 1px;
            color: $text-color;
        }
    }
}

// Dialog
.van-dialog {
    &--round-button {
        .van-dialog {
            &__message {
                color: $text-color-secondary;
            }

            &__footer {
                padding: 0 30px 20px;
            }

            &__cancel,
            &__confirm {
                height: 40px;
            }
        }

        .van-goods-action-button {
            &--first,
            &--last {
                border-radius: $border-radius-round;
            }

            &--warning {
                margin-right: $spacing-md;
            }

            &--warning {
                background: transparent;
                border: $button-primary-bg-color solid 1px;
                color: $color-primary;
            }
        }
    }
}

// Image
.van-image {
    vertical-align: middle;
}
