/**
 * @Author: 孟祥涵
 * @Date: 2020-10-13
 * @Description: vars
 */

// ColorPalette
$color-primary: #ff6839;
$color-red: #fe4a3b;
$color-green: #0c8;

// Border
$border-radius-base: 8px;
$border-radius-xs: $border-radius-base / 4;
$border-radius-sm: $border-radius-base / 2;
$border-radius-md: $border-radius-base * 2;
$border-radius-lg: $border-radius-base * 3;
$border-radius-round: 10em;
$border-radius-square: 0;

// BoxShadow
$box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.03);

// Button
$button-primary-bg-color: $color-primary;
$button-primary-bg-gradient-color: linear-gradient(304deg, #ff931e 0%, #ff6839 100%);

// Font
$font-size-heading-1: 24px;
$font-size-heading-2: 20px;
$font-size-heading-3: 18px;
$font-size-heading-4: 16px;
$font-size-base: 14px;
$font-size-sm: 12px;

// Spacing
$spacing-base: 8px;
$spacing-sm: $spacing-base / 2;
$spacing-md: $spacing-base * 2;
$spacing-lg: $spacing-base * 3;

// Text
$text-color-primary: $color-primary;
$text-color-green: $color-green;
$text-color-red: $color-red;
$text-color-black: #000;
$text-color-title: #2c2c2c;
$text-color-secondary: #707070;
$text-color-placeholder: #d0d1d3;
