.video-js {
    font-family: $font-family;

    .vjs-big-play-button {
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        line-height: 40px;
        border: 0;
        border-radius: 10em;
        font-size: 20px;
        background: rgba(0, 0, 0, .7);

        &:focus {
            background: rgba(0, 0, 0, .5);
        }
    }

    &:hover {
        .vjs-big-play-button {
            background: rgba(0, 0, 0, .5);
        }
    }

    .vjs-control-bar {
        background: rgba(0, 0, 0, .7);
    }

    .vjs-time-control {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        &.vjs-time-divider {
            min-width: 0;
            padding: 0;
        }

        &.vjs-current-time {
            padding-right: 0;
        }

        &.vjs-duration {
            padding-left: 0;
        }

        &.vjs-remaining-time {
            display: none;
        }
    }

    .vjs-mute-control {
        .vjs-icon-placeholder {
            &:before {
                font-size: 20px;
            }
        }
    }

    .vjs-slider {
        background: rgba(255, 255, 255, .5);
    }

    .vjs-play-progress {
        background: $color-primary;

        &:before {
            top: -4px;
            font-size: 12px;
        }
    }

    .vjs-load-progress {
        div {
            background: rgba(255, 255, 255, .75);
        }
    }

    .vjs-progress-holder {
        &,
        .vjs-load-progress,
        .vjs-load-progress div,
        .vjs-play-progress {
            height: 4px;
            border-radius: 10em;
        }
    }

    .vjs-progress-control {
        &:hover {
            .vjs-progress-holder {
                font-size: inherit;
            }

            .vjs-time-tooltip {
                font-size: 12px;
                background: #fff;
                color: $text-color-heading;
            }
        }
    }

    .vjs-volume-level {
        background: $color-primary;
    }

    .vjs-volume-panel {
        .vjs-volume-control,
        &.vjs-hover .vjs-mute-control ~ .vjs-volume-control.vjs-volume-horizontal,
        &.vjs-hover .vjs-volume-control.vjs-volume-horizontal {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .vjs-picture-in-picture-control {
        display: none;
    }

    .vjs-time-tooltip {
        top: -28px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 12px;
        padding: 4px 8px;
        //background: #fff;
        box-shadow: $box-shadow;
        border-radius: $border-radius-round;
    }
}

.vjs-volume-bar.vjs-slider-horizontal,
.vjs-slider-horizontal .vjs-volume-level {
    height: 4px;
    border-radius: $border-radius-base;
}

.vjs-has-started {
    .vjs-control-bar {
        height: 40px;
    }
}

.vjs-button {
    > .vjs-icon-placeholder {
        &:before {
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }
    }
}

.vjs-playback-rate {
    .vjs-playback-rate-value {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
}

.vjs-menu-button-popup {
    .vjs-menu {
        bottom: 18px;

        .vjs-menu-content {
            background: #fff;
            width: 48px;
            border-radius: $border-radius-base;
            padding: 4px 0;
            color: $text-color;
        }

        li {
            line-height: 24px;
            padding: 0;
            font-size: 12px;

            &.vjs-selected {
                background: transparent;
                color: $text-color;
            }

            &.vjs-menu-item {
                transition: all .3s;

                &:hover {
                    background: #f4f5f5;
                }
            }
        }
    }
}

.vjs-slider-horizontal {
    .vjs-volume-level:before {
        top: -4px;
        font-size: 12px;
    }
}



